{% extends "matches/base.html" %}
{% block content %}

        <td><a href="{% url "single_create" %} "><button class="btn">Add Single</button></a></td>
        <td><a href="{% url "single_search_form"  %}"><button class="btn">Find Singles</button></a></td>
        <td><a href="{%  url "advocate_edit" user.id %}"><button class="btn">My Account</button></a></td>


<hr>
    <span class="form-header">MY SINGLES </span><hr>


    {% for single in singles %}
        <table>
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="70">
            <col width="100">

            <tr style="margin-top:10px; border-top:  5px solid transparent;">
                <td><b>{{single.last_name}}</b></td>
                <td><b>{{single.first_name}}</b></td>
                <td>{{single.gender}}</td>
                <td>{{single.age}}</td>
                <td><a href="{% url "single_edit" single.id %}"><button class = 'btn'>edit</button></a></td>
                <td><a href="{% url "email_single_profile" single.id %}"><button class = 'btn'>email profile</button></a></td>
            </tr>
        </table>
    {% endfor %}
    {% endblock %}
