body {
    padding-left: 15px;
}

#overlay {
     color: red;
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {

    width:300px;
     margin: 100px auto;
     background-color: yellow;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

.subheader {
    font-family: 'Ubuntu', cursive;
    font-size: 20px;
}
.btn {
    border: solid thin #00CCCC;
    background: lightgray;
    color: #004c4d;
    font-family: 'Ubuntu', cursive;
    font-size: 15px;
}
.btn-xl {
    background: #004c4d;
    color: antiquewhite;
    height: 100px;
    width: 200px;
    border: solid 4px lightgray;
    border-radius: 20px;
    font: 25px  'Ubuntu', cursive;
}
.lists {
    color: black;
    font: 12px  'Arial';
}
.lists th {
    background: #004c4d;
    color: antiquewhite;
    font-family: 'Ubuntu', cursive;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    padding-left: 3px;
    border-left: solid gray 1px;
}
.lists td {
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.lists tr{
    height: 36px;
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: 1px;
}
.list .inactive tr {
    height: 36px;
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: 1px;
    color: gray;
}

#list-person-name {
    color: darkred;
    font: 15px  'Ubuntu';
    font-weight: bold;
    height: 36px;
}

#logo {
    color: #00CCCC;
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
}

.lbl {
    font-family: 'Ubuntu', cursive;
    color: #004c4d;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    vertical-align: top;

}
.form-header{
    color:#004c4d;
    font-size: 30px;
    font-family: 'Ubuntu', cursive;
    font-weight: 900;
}

.input-box {
    background-color: ghostwhite;
    border-radius: 4px;
    width: 500px;
    height: 30px;
    margin-top: 10px;
    padding-left: 5px;
    border: 1px solid #00CCCC;
}

.input-box-small {
    background-color: ghostwhite;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #00CCCC;
}
.input-box-textarea {
    background-color: ghostwhite;
    border-radius: 4px;
    width: 500px;
    height: 120px;
    margin-top: 10px;
    padding-left: 5px;
    border: 1px solid #00CCCC;
    white-space:normal;
    word-wrap: break-word;
}
.dropdown-box {
    background-color: ghostwhite;
    border-radius: 4px;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    padding-left: 5px;
    border: 1px solid #00CCCC;
}

.list-box {
    background-color: ghostwhite;
    border-radius: 4px;
    width: 300px;
    margin-top: 10px;
    padding-left: 5px;
    border: 1px solid #00CCCC;

}



